.order{
    border: 1px solid #d4d4d4;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 110px auto;
    grid-gap: 10px;
    margin-bottom: 20px;
    background-color: ghostwhite;
}
.button{
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.button>a{
    outline: none;
    color: #9a9a9a;
    text-decoration: none;
}
.order>span:nth-child(even),
.order>span:nth-child(odd){
    text-overflow: ellipsis;
    overflow: hidden;
}
.order>span:nth-child(odd){
    color: cornflowerblue;
}
.id{
    color: rebeccapurple;
}
.date{
    color: olivedrab;
}
.prise{
    font-size: large;
    font-weight: 600;
}




