.offers{
    width: 96%;
    height: 32px;
    margin: 1px auto;

}
.offers>img{
    width: 32px;
    height: 32px;
    margin-right: 2%;
    margin-top: 2%;
    user-select: none;
}
.itemImg{
    width: 50%;
    margin: 4% auto;

    position: relative;
    height: 0;
    padding-top: calc(430 / 360 * 50%);
}
.itemImg:hover{
    cursor: pointer;
}
.itemImg>img{
    width: 100%;
    object-fit: cover;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}
.itemTitle{
    text-overflow: clip;
    overflow: hidden;
    height: 63px;
    width: calc(100% - 20px);
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}
.itemTitle:hover{
    cursor: pointer;
    color: cornflowerblue;
}
.itemDescription{
    text-align: center;
    width: calc(100% - 20px);
    margin: 6px auto;
    font-size: small;
    color: #999999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.itemCost{
    text-align: center;
    width: calc(100% - 20px);
    margin:1px auto;
    padding-bottom: 10px;
    font-size: large;
    font-weight: 600;

}
.item{
    width: calc(100% - 3px);
    border: 1px solid #d4d4d4;
}
