.form{
    width: 100%;
    border: 1px solid #d4d4d4;
    margin: 20px 0;
    padding: 0;
}

.body{
    width: 50%;
    margin: 20px auto;
}
.error{
    color: #c12020;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: small;
    text-align: center;
}

@media screen and (max-width:750px) {
    .body{
        width: calc(100% - 40px);
    }
}
