.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    margin: 20px 0;
    grid-gap: 20px;
}

.types{
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
    flex-wrap: wrap;
}
.type{
    width: auto;
    height: auto;
}
.type>div:nth-child(1){
    background-color: #c12020;
    height: 20px;
    width: 50%;
}
.type>div:nth-child(2){
    background-color: green;
    height: 20px;
    width: 30%;
}
.div{
    padding: 0 20px;
    line-height: 40px;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 40px;
    width: auto;
    font-weight: 600;


}

@media screen and (max-width: 750px) {
    .gridContainer{
        grid-template-rows:repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

}
@media screen and (max-width: 550px) {
    .div{
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: small;
        line-height: 30px;
        height: 30px;
    }

}

