.main{
    border: 1px solid #d4d4d4 ;
    margin-bottom: 5px;
    overflow: hidden;
}
.title{
    display: grid;
    grid-template-columns: auto 10px;
    color: #2c2c2c;
    padding-right: 2%;
    padding-left: 2%;
    height: 36px;
    user-select: none;
}
.title>span{
    margin-top: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title:hover{
    color: cornflowerblue;
    cursor: pointer;
}
.titleColor{
    color: cornflowerblue;
}
.imgWrapper{
    position: relative;
    height: 10px;
    width: 10px;
    transform: rotate(180deg);
    margin: auto 0;
}
.imgWrapper>img{
    position: absolute;
    width: 10px;
    height: 10px;
    user-select: none;
    transition: transform .3s;

}
.component{
    transition: height .3s ease;
    height: 0;

}
.show{

    --height: 0;
    height: var(--height);
}

.rotateArrow {
    transform: rotate(90deg);
}




@media screen and (max-width:750px) {
    .main{
        border: 0 solid #d4d4d4 ;
    }
    .title{
        height: 50px;
        color: white;
        line-height: 50px;
    }
    .title>span{
        margin-top: 0;
    }
    .title:hover{
        color: white;
    }
    .titleColor{
        background-color: rgba(89,89,89,0.5);
    }
    .imgWrapper>img{
        filter: invert(1);
    }

}
