.form{

    text-align: center;
}
.help{
    font-size: small;
    color: #9a9a9a;
}


.button{
    margin: 0 auto;
    width: 50%;

}


.deliveryType{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.address{
    font-size: large;
    font-weight: 600;
}
.text{
    line-height: 40px;
}

.error{
    color: #c12020;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: small;
    text-align: center;
}

@media screen and (max-width:750px) {
    .button{
        width: calc(100% - 40px);
    }
}
