.form{

    text-align: center;
}
.help{
    font-size: small;
    color: #9a9a9a;
}
.button:hover{
    cursor: pointer;
}

.button{
    outline: 0;
    height: 40px;
    width: 50%;
    border: 0;
    color: white;
    position: relative;
    background-color: cornflowerblue;
}

.loader{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    margin: auto;
    top: 0;
}
.deliveryType{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.address{
    font-size: large;
    font-weight: 600;
}
.text{
    line-height: 40px;
}
.loader>img{
    width: 25px;
    height: 25px;
}
.error{
    color: #c12020;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: small;
    text-align: center;
}

@media screen and (max-width:750px) {
    .button{
        width: calc(100% - 40px);
    }
}
