.wrapper{
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: auto;
    -ms-overflow-style: none;
    overflow-y: hidden;
}

.items{
    --item-count:4;
    width: calc(((100% + 20px) / 4) * var(--item-count));
    height: auto;
    display: flex;
    z-index: 44;
    background-color: white;
}

.items>div{
    width: calc(25% - 20px);
    height: auto;
    display:inline-block;
    margin-right: 20px;
    background-color: #d4d4d4;
}
.items>div>div{
    width: calc(100% - 2px);
    height: auto;
    margin: 0 auto;
    background-color: white;
}

.items{
    width: calc(((100% + 20px) / 4) * var(--item-count) - 20px);
}
.items>div:last-child{
    margin-right: 0;
}

.arrowLeft>img, .arrowRight>img{
    user-select: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 21px);
}


.arrowRight>img{
    transform: rotate(180deg);
    margin-left: calc(100% - 24px);

}
.main{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.hideScroll{
    --scroll-bar-width:0;
    width: 100%;
    height: var(--scroll-bar-width);
    z-index: 2;
    position: absolute;
    background-color: white;
    top: calc(100% - var(--scroll-bar-width));
}
.arrowRight, .arrowLeft{
    z-index: 1;
    width: 32px;
    position: absolute;
    height: 100%;
}

.arrowRight:hover, .arrowLeft:hover{
    cursor: pointer;

}

.arrowRight{
    margin-left:calc(100% - 32px);
}

@media screen and (max-width: 750px) {
    .items{
        width: calc(((100% + 20px) / 2) * var(--item-count));
    }
    .items{
        width: calc(((100% + 20px) / 2) * var(--item-count) - 20px);
    }
}