.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: 20px 0;
    grid-gap: 20px;
}


.title{
    display: none;
}

@media screen and (max-width:1120px) {
    .title{
        display: block;
    }
}
@media screen and (max-width: 750px) {
    .gridContainer{
        grid-template-rows:repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

}

.wrapper{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #595959;
}
.itemSlider{
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    position: relative;
    overflow: auto;


}




.items{
    --item-count:4;
    width: calc(((100% + 20px) / 4) * var(--item-count));
    height: calc(100% - 2px);
    display: flex;
    position: absolute;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

.items>div{
    width: calc(25% - 20px);
    height: auto;
    display:inline-block;
    margin-right: 20px;
    background-color: cornflowerblue;
    overflow: hidden;
}
.items>div>div{
    width: 100px;
    height: 100px;
    background-color: green;

    margin-top: 90%;
}



.items{
    width: calc(((100% + 20px) / 4) * var(--item-count) - 20px);
}
.items>div:last-child{
    margin-right: 0;
}

.arrowLeft>img{
    transform: rotate(90deg);
    margin: 134px 0;
}

.arrowRight>img{
    transform: rotate(-90deg);
    margin: 134px 0;
}
.arrowRight, .arrowLeft{
    z-index: 1;
    position: absolute;
    height: 100%;
}
.arrowRight:hover, .arrowLeft:hover{
    cursor: pointer;
    background-color: rgba(22,22,22,0.3);
}

.arrowRight{
    margin-left: calc(100% - 32px);
}
@media screen and (max-width: 750px) {
    .wrapper{
        height: 400px;
    }
    .itemSlider{
        height: 420px;
    }
    .items{

        width: calc(((100% + 20px) / 2) * var(--item-count));
    }
    .items>div{
        width: calc(50% - 20px);
    }
    .items{
        width: calc(((100% + 20px) / 2) * var(--item-count) - 20px);
    }

    .arrowLeft>img, .arrowRight>img{
        margin: 184px 0;
    }
}








