.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: 20px 0;
    grid-gap: 20px;
}

.line>hr {
    border: none;
    background-color: #9a9a9a;
    height: 1px;
    margin: 0;
    padding: 0;
}
.line{
    display: none;
}
@media screen and (max-width:1120px) {
    .line{
        display: block;
    }
}
@media screen and (max-width: 750px) {
    .gridContainer{
        grid-template-rows:repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}