.main{
    width: 100%;
    border: 1px solid #d4d4d4;
    margin: 20px 0;
    padding: 0;
}
.legend{
    padding: 0 1em;
    margin-left: 20px;

}
.profile{
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 20px;
    grid-template-rows: repeat(6, 40px);
}
.edit{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 3;
    justify-self: right;
    height: 20px;
}
.edit:hover{
    cursor: pointer;
}
.edit>img{
    width: 20px;
    height: 20px;
}
.profile>span{
    color: #4949e7;
}
.button:hover{
    background-color: #1f1f1f;
    cursor: pointer;
}
.button{
    outline: 0;
    height: 40px;
    width: 100%;
    border: 0;
    background-color: #161515;
    color: white;
    position: relative;
}
.empty{
    color: #c12020;
}
.error{
    color: #c12020;
    margin-bottom: 20px;
    font-size: small;
    text-align: center;
}