
.profile{
    margin-left: 0;
    width: calc(100% - 2px);
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
    padding: 0;
}
.legend{
    padding: 0 1em;
    margin-left: 20px;

}

.button{

    margin-top: 20px;
    margin-left: auto;
    width: 100px;
    border-radius: 2px;

}
