
.banner{
    width: 100%;
    position: relative;
    height: 0;
    padding-top: calc(300 / 1020 * 100%);
    /*width: 50%;
    margin: 4% auto;
    position: relative;
    height: 0;
    padding-top: calc(430 / 360 * 50%);
    background-color: #c12020;*/
}
.main{
    width: 100%;
}
.banner>a>img{
    width: 100%;
    object-fit: cover;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    /*width: 100%;
    object-fit: cover;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;*/
}
