.navWrapper{
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    line-height: 50px;
}


.navWrapper a>img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navWrapper a{
    user-select: none;
    font-weight: 600;
    color: #2c2c2c;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size .3s;

}
.navWrapper a:hover{
    background-size: 100% 2px;
}
.line {
    border: none;
    background-color: #9a9a9a;
    height: 1px;
    margin: 0;
    padding: 0;
}
.menuButton{
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: -48px;
    display: none;
    transition: transform .3s;
}
.menuButton:hover{
    cursor: pointer;
}

.menuButton img {

    width: 24px;
    height: 24px;
}
.rotateButton {
    transform: rotate(90deg);
}
.back{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 12;
}
@media screen and (max-width:750px) {
    .navWrapper {
        background-color: rgba(45,45,45,0.95);
        display: block;
        width: 0;
        position: fixed;
        height: 100%;
        transition: width .3s;
        left: 0;
        z-index:999;
        overflow: hidden;
    }
    .menuButton{
        z-index: 2;
        display: block;
    }
    .navWrapper>li{
        margin-left: 20px;
    }
    .navWrapper a{
        white-space: nowrap;
        display: block;
        overflow: hidden;
        color: white;
        font-weight: normal;
    }
    .line{
        height: 0;
    }
    .show{
        width: 250px;
    }

}

