.navWrapper{
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    line-height: 50px;
}
.navWrapper a{
    user-select: none;
    font-weight: 600;
    color: #2c2c2c;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size .3s;
}
.navWrapper a:hover{
    background-size: 100% 2px;
}
.line {
    border: none;
    background-color: #9a9a9a;
    height: 1px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1120px) {
    .navWrapper {
        display: none;
    }
    .line{
        height: 0;
    }

}
