.filters{
    height: 100%;
    border: 1px solid #d4d4d4;
    width: 100%;
    background-color: white;


}
.filters>div>img{
    width: 16px;
    height: 16px;
}
.filters>div:nth-child(1){
    margin-top: 2px;
    margin-left: calc(100% - 18px);
}
@media screen and (max-width:750px) {
    .filters{
        width: 94%;
        position: fixed;
        opacity: 0.9;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);


    }


}
