.filters{
    height: auto;
    width: 100%;
    background-color: white;
}
.padding{
    height: 0;
}
.filters>div>img{
    width: 16px;
    height: 16px;
    user-select: none;
}
.reset{
    height: 38px;
    line-height: 38px;
    font-size: small;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: #999999;
}
.reset:hover{
    cursor: pointer;
    color: royalblue;

}
.filters>div>img:hover{
    cursor: pointer;
}
.filters>div:nth-child(1){
    margin-top: 5px;
    margin-left: calc(100% - 21px);
    display: none;
}
.filterButton{
    background-color: cornflowerblue;
    height: 38px;
    line-height: 38px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.filterButton:hover{
    cursor: pointer;
    background-color: royalblue;
}
@media screen and (max-width:750px) {
    .filters{
        --scroll-bar-width:22px;
        width: calc(100% - var(--scroll-bar-width));
        position: fixed;
        height:100%;
        left: 0;
        top: 0;
        background-color: rgba(45,45,45,0.95);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1;

    }
    .padding{
        height: 20px;
    }
    .filterButton{
        margin: 0 auto;
        width: 96%;
    }
    .filters>div:nth-child(1){
        display: block;
    }
    .filters>div>img{
        margin-bottom: 45px;
    }
    .filterButton:hover{
        cursor: pointer;
        background-color: cornflowerblue;
    }
}
.hideFilters{
    display: none;
}
