
.swiper-button-next, .swiper-button-prev{
    width: 24px;
    height: 24px;
}
.swiper-button-next:focus, .swiper-button-prev:focus{
    outline: none;
}

.swiper-button-next{
    transform: rotate(180deg);
}
.slide{
    margin: 1px 0 1px 0;
}