.input{
    width: calc(100% - 10px);
    height: 30px;
    border-radius: 0;
    border: 1px solid #c7c7c7;
    padding: 0 5px;
}
.input:focus{
    outline: none;
    border: 1px solid cornflowerblue;
}
.search{
    grid-gap: 10px;
    display: grid;
    grid-template-columns: auto 70px;
}
.button{
    width: 70px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #161515;
    color: white;
    border-radius: 3px;
    display: table;
}
.button:hover{
    cursor: pointer;
}


