.menu {
    list-style: none;
    height: 75%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    user-select: none;
}

.menu a:focus {
    outline: none;
}

.menu a:hover {
    background: #595959;

}

.menu>li>div{
    height: 30px;
    padding: 10px 10px 10px 25px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height:30px;
}

.menu>li>div:hover {
    background: #595959;
    cursor: pointer;
}

.menu img{
    width: 16px;
    height: 16px;
    margin: 8px 0;
    text-align: right;
    justify-self: end;
}

.menu>li> a{
    display: block;
    text-decoration: none;
    height: 30px;
    padding: 10px 10px 10px 25px;
    color: white;
    line-height:30px;
}

.menu li>ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.hideCatalog{
    display: none;
}

.menu li>ul>li>a {
    display: block;
    text-decoration: none;
    height: 30px;
    padding: 10px 10px 10px 50px;
    color: white;
    line-height:30px;
}

.menu>li>ul>li> a:hover {
    background: #595959;
    cursor: pointer;
}

* {
    -webkit-tap-highlight-color: transparent;
}
