
.added-enter {
    opacity: 1;
}
.added-enter-active {
    top: -30px;
    opacity: 0;
    transition: opacity 2000ms, top 200ms;
}
.added-exit {
    opacity: 1;
}
.added-exit-active {
    top: -30px;
    opacity: 0;
    transition: opacity 2000ms, top 200ms;
}

