.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 20px;
    grid-gap: 20px;
}

.legend{
    padding: 0 1em;
    text-align: center;
    font-size: small;
    color: #9a9a9a;
}

.leftArea>div:nth-child(2){
    max-width: 360px;
    margin: 0 auto;
}
.leftArea{
}

.rightArea{
    border: 1px solid #d4d4d4;
    margin: 0;
    left: 0;
}
.params{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, auto);
    height: calc(100% - 5px);

}
.name{
    font-size: large;
    font-weight: 600;
}
.params>div{
    line-height: 30px;
    overflow: hidden;
    text-overflow: clip;
}
.perfumeType{
    font-size: small;
    color: #9a9a9a;
}
.id{
    font-size: small;
    color: rebeccapurple;
}
.star{
    width: 15px;
    height: 15px;
}
.button{
    background-color: cornflowerblue;
    outline: 0;
    height: 40px;
    width: 100%;
    border: 0;
    color: white;
    left: 0;
    margin-top: 10px;
    grid-row-start: 10;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}
.button:hover{
    cursor: pointer;
}

.bottomArea{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.additions{
    width: 96%;
    height: 32px;
    margin-bottom: 5px;
}
.additions>img{
    width: 32px;
    height: 32px;
    margin-right: 2%;
    user-select: none;
}
.append{
    opacity: 0;
    line-height: 25px;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    position: absolute;
    background-color: seagreen;
}
.next{
    margin: 0 auto;
    width: 50%;
    height: 40px;
    background-color: cornflowerblue;
    color: white;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.next:hover{
    cursor: pointer;
}
.edit{
    background-color: cornflowerblue;
    height: 30px;
    width: 150px;
    text-align: center;
    color: white;
    line-height: 30px;
}


@media screen and (max-width:750px) {
    .product{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
    .bottomArea{
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .next{
        width: 100%;
    }
}