.button:hover{
    cursor: pointer;
}
.button{
    user-select: none;
    outline: 0;
    height: 40px;
    width: 100%;
    border: 0;
    color: white;
    position: relative;
    background-color: cornflowerblue;
}
.loader{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    margin: auto;
    top: 0;
}
.loader>img{
    width: 25px;
    height: 25px;
}