.profile{
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-rows: repeat(8, auto);
}
.close{
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: right;
    height: 20px;
}
.close:hover{
    cursor: pointer;
}
.close>img{
    width: 20px;
    height: 20px;
}
.button{

    width: 50%;
    margin: 0 auto 20px auto;

}
.field{
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.loader{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    margin: auto;
    top: 0;
}
.loader>img{
    width: 25px;
    height: 25px;
}

.error{
    color: #c12020;
    margin-bottom: 20px;
    font-size: small;
    text-align: center;
}
@media screen and (max-width:750px) {
    .field, .button{
        width: calc(100% - 20px);
        margin-right: 20px;
    }
}
